@tailwind base;
@tailwind components;
@tailwind utilities;
.playArea {
  width: 400px;
  height: 400px;
  background-color: aqua;
  display: flex;
}
.snakehead {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: black;
}
